body {
    font-family: 'IM Fell English', serif;
    text-align: center;
    background-color: #c4c4c4;
}

.form-group {
    width: 60%;
    margin: auto;
    padding: 2%;
}

.btn {
    background-color: gold;
    color: black;
}

/* new css */

header {
    z-index: 2;
}

main {
    z-index: 1;
}

.alert {
    display: none;
    visibility: hidden;
}

.alert.show {
    display: block;
    visibility: visible;
}